.tag {
  background-color: #ddd;
  padding: 10px 20px;
  border-radius: 16px;
  font-size: .8em;
  color: black;
}

h1 {
  margin: 20px;
}

time {
  font-size: .8em;
}

address {
  display: inline;
  font-size: .8em;
}

a {
  text-decoration: none;
}

.sub-container {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.navBarButton {
  width: 300px;
  margin: 5px;
}